*{


}


body{
    margin: 0%;
    background-color: rgb(75, 63, 57);

}


header {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color: darkred;
    height: 200px;
    padding-top: 40px;
    
    
    
    
    
}
header div .bg{
    background-image: url(https://www.publicdomainpictures.net/pictures/150000/velka/banner-header-tapete-1452531737Jr0.jpg);
    background-size: 30px 50px;
    max-height: 150px;
    width: 100%
    
    
}

header div .floater {
    background-image:url(./images/MePic.png) ;
    max-height: 250px;
    border-radius: 2%;
    
}

header nav  {
    text-decoration: rgb(255, 255, 255);
    text-decoration: none;
    float: right;


}