
html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    background-color: rgb(6, 21, 31);

}
#me{
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;

  
    
}


header {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color: darkred;
    height: 300px;
    padding-top: 40px;
}

header h1 {
    display: flex;
    background-color: rgb(83, 3, 3);
    


} 
    
    

header div .bg{
    background-image: url(https://www.publicdomainpictures.net/pictures/150000/velka/banner-header-tapete-1452531737Jr0.jpg);
    background-size: 30px 50px;
    max-height: 150px;
    width: 100%
    
    
}

header div .floater {
    padding-top: 20px ;
    max-height: 250px;
    border-radius: 2%;
    
    
}

header nav  {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: rgb(255, 255, 255);
    text-decoration: none;
    float: right;
    background-color: rgb(83, 3, 3);
    line-height: 30px;
    border-radius: 30px;
    padding: 15px;
    


}
header nav a{
    display: inline-flex;
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding-right: 20px;
}

#about p{
    display: flex;
    flex: wrap;
    padding-left: 250px;
   

}

 h2 {
margin-left: 50px;

padding-right: 30px;
}

h2 .projects {
    margin-left: 50px;  
border-right: solid rgb(27, 51, 87);

}


#container {
    padding-left:250px;
    /* padding-right:250px; */
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    justify-content: space-between;
    
      
    
    
    

}




.flexbox1{
    background-image:url(./images/Tokyo-City.jpg);
    min-height: 400px;
    min-width: fit-content;
    border: 5px solid rgb(141, 42, 42);
    flex-grow: 3;
}
.flexbox2{
    background-image:url(./images/controllers.jpg);
    min-height: 200px;
    min-width: fit-content;
    border: 5px solid rgb(141, 42, 42);
    flex-grow: 1;
}


.flexbox3{
    background-image:url(./images/galaxy.jpg);
    min-height: 200px;
    min-width: fit-content;
    border: 5px solid rgb(141, 42, 42);
    flex-grow: 1;
}


    
.flexbox4{
    background-image:url(./images/Great-wave.jpg);
    min-height: 300px;
    min-width: fit-content;
    border: 5px solid rgb(141, 42, 42);
    flex-grow: 1;
}

#Contact {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 150px;
 
}
button a{
    font-size: 30px;
    text-decoration: none;
}

#resume{
    display: flex;
    flex-direction:column;
    border-right: solid cornflowerblue;
}